.Menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-menu {
  display: grid;
  grid-template-columns: repeat(
    3,
    10% 40% 15%
  ); /* Cria 3 colunas com largura igual */
  gap: 17%; /* Espaçamento entre as colunas */
  background-color: #000000;
  margin: rem 0 -4rem 0 !important;
}

#logo-image {
  height: 60%;
}

.logo {
  height: 13rem;
  align-items: center !important;
  margin: 0rem 0 -4rem 0 !important;
}

.description {
  width: 60%;
  background-color: #ffffff;
}

//botão menu

.button-orçamento {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-orçamento {
  padding: 3% 6% !important;
  background-color: #15768e;
  border-radius: 8px;
  text-decoration: none;
  border: solid 3px #5555;
  color: #ffffff;
  font-size: 16px;
}

#button-orçamento:hover {
  border: solid 3px #444;
  background-color: #9ff3f6;
  color: #444;
}

// items do menu
